@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);
  --fontSize: 1.1em;
  --smallerFontSize: 1.05em;
  --fontFamily: 'League Spartan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

/* Header Styling */

.ul {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 3rem;
}

.ul li {
  list-style-type: none;
  padding: 0 1.3em;
  color: var(--white);
  font-size: var(--smallerFontSize);
}

.ul li:first-child {
  font-size: 1.5rem;
  padding-right: 1.7em;
}

/* First Section Styling */

.grid-wrapper {
  display: grid;
  grid-template-columns: 3fr 1.3fr 0.2fr;
  grid-gap: 0;
}

.height {
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex > h1 {
  color: var(--black);
  font-size: 3em;
  font-weight: 600;
}

.flex > p {
  font-size: var(--fontSize);
  color: var(--darkGray);
  word-spacing: 1px;
  line-height: 1.2em;
  text-align: justify;
}

.shop-flex {
  display: flex;
  align-items: center;
}

.shop-flex > p {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 0.5em;
}

/* /second Section Styling */

.grid-wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
}

.padding h3 {
  font-size: 1.3em;
  color: var(--black);
  letter-spacing: 0.5em;
  text-transform: uppercase;
  word-spacing: 1px;
}

.padding {
  padding: 0 2rem;
  text-align: justify;
}

.width {
  width: 100%;
  height: 100%;
}
