@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);
  --fontSize: 1.1em;
  --smallerFontSize: 1.05em;
  --fontFamily: 'League Spartan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  /* overflow: hidden; */
}

/* Display None */

.mobile-image-wrapper {
  display: none;
}

.hamburger-wrapper {
  display: none;
}

.close-cover {
  display: none;
}

/* Header Styling */

.ul {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 3rem;
}

.ul li {
  list-style-type: none;
  padding: 0 1.3em;
  color: var(--white);
  font-size: var(--smallerFontSize);
}

.ul li:first-child {
  font-size: 1.5em;
  padding-right: 1.7em;
}

.ul li:first-child:hover {
  padding-bottom: 0;
  border-bottom: none;
  cursor: auto;
}

.ul li:hover {
  padding-bottom: 1rem;
  cursor: pointer;
  border-bottom: 2px solid var(--white);
}

/* First Section Styling */

.grid-wrapper {
  display: grid;
  /* grid-template-columns: 3fr 0.2fr 1.3fr; */
  /* grid-template-columns: 1.6fr 0.1fr 1.3fr; */
  grid-gap: 0;
  /* display: flex; */
}

.image-wrapper {
  grid-column: 1/3;
  grid-row: 1/3;
}

.height {
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

.flex > h1 {
  color: var(--black);
  font-size: 3em;
  font-weight: 600;
}

.flex > p {
  font-size: var(--fontSize);
  color: var(--darkGray);
  word-spacing: 1px;
  line-height: 1.2em;
  text-align: justify;
  margin-top: 0;
}

.shop-flex {
  display: flex;
  align-items: center;
}

.shop-flex > p {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 0.5em;
}

.shop-flex > img {
  margin-left: 2rem;
}

.shop-flex > p:hover,
.shop-flex > img:hover {
  color: var(--darkGray);
  cursor: pointer;
}

.svg-images-wrapper {
  display: inline-flex;
  height: 5rem;
  width: 10rem;
  justify-content: space-around;
  background-color: var(--black);
  align-self: flex-end;
  grid-column: 3/4;
  grid-row: 2;
  /* justify-self: flex-start; */
}

.svg-images {
  transform: scale(0.3);
}

/* /second Section Styling */

.grid-wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
}

.padding h3 {
  font-size: 1.3em;
  color: var(--black);
  letter-spacing: 0.5em;
  text-transform: uppercase;
  word-spacing: 1px;
}

.padding {
  padding: 0 2rem;
  text-align: justify;
}

.width {
  width: 100%;
  height: 100%;
}

/* Carousel */

.none {
  display: none;
}

.block {
  display: grid;
}

/* Tablet View */

@media screen
and (min-device-width: 650px)
and (max-device-width: 1375px) {
  /* Header Styling */

  .ul li {
    padding-left: 0;
  }

  /* First Section Styling */

  .height {
    height: 100%;
    width: 25rem;
  }

  .flex > h1 {
    font-size: 2em;
  }

  .flex {
    padding: 0 2rem;
  }

  .shop-flex > p {
    font-size: 1em;
  }

  .shop-flex > img {
    margin-left: 1rem;
  }

  /* Second Section Styling */

  .padding {
    padding: 0 1rem;
    text-align: justify;
  }

  .padding > h3 {
    font-size: 1.2em;
    letter-spacing: 0;
  }
}

@media screen
and (min-device-width: 375px)
and (max-device-width: 649px) {
  /* Display NOne */

  .image-wrapper {
    display: none;
  }

  /* Header Styling */

  .hamburger-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center;
    width: 100%; */
    /* background-color: blue; */
    width: 100%;
    position: absolute;
    top: 3rem;
    /* left: 2rem; */
  }

  .hamburger-wrapper img {
    margin-left: 1rem;
  }

  .hamburger-wrapper h3 {
    text-align: center;
  }

  .ul {
    height: 8rem;
    top: 0;
    display: none;
    background-color: #fff;
    padding-left: 0;
    width: 100%;
  }

  .ul li {
    color: var(--black);
    padding: 0px 1.1em;
  }

  .ul li:first-child {
    display: none;
  }

  .close {
    /* display: none; */
    /* position: absolute;
    top: 3rem;
    left: 2rem; */
    padding-left: 0;
    /* background-color: red; */
    padding: 0;
    /* margin-top: 2rem; */
  }

  .ul .close-cover:hover {
    padding-bottom: 0;
  }

  .room-text-cover {
    margin: 0 auto;
    color: var(--white);
    font-size: 1.2em;
  }
  /* First Section Styling */

  .mobile-image-wrapper {
    display: block;
  }

  .mobile-image-wrapper > img {
    height: 100%;
    width: -webkit-fill-available;
  }

  .grid-wrapper {
    display: block;
  }

  .flex > h1 {
    font-size: 2em;
  }

  .flex > p {
    word-spacing: 0;
    line-height: 1.3em;
  }

  .flex {
    padding: 0 2rem;
  }

  .shop-flex > p {
    font-size: 1em;
  }

  .shop-flex > img {
    margin-left: 1rem;
  }

  .svg-images-wrapper {
    position: absolute;
    top: 18.5rem;
    right: 0;
    width: 9rem;
    height: 4rem;
  }

  /* Second Section Styling */

  .grid-wrapper2 {
    display: block;
  }

  .padding h3 {
    font-size: 1.1em;
    letter-spacing: 0.2em;
    word-spacing: 5px;
  }

}